
@{
    
}

<div class="container error-bkgd body-content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6 caveat fs-80 pt2"> @ViewBag.Message </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6 caveat nf-second fs-60 pt2"> <i>-- Buddha</i> </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <a class="col-md-4 caveat fs-40 pt2" href="~/">Go Back Home</a>
    </div>
        
       
</div>

