<div class="body-content">
    <div class="full-screen-ie">
        <div class="body-page">
            <h1 class="error-text nf-one">
                "Just as a candle cannot burn without fire, <br />
                browsers cannot serve without a server. <br />
                Try again later."
            </h1>
            <h1 class="error-text nf-second"> <i>-- Buddha</i> </h1>
            <p><a href="~/"><h3 class="error-text">Go Back Home</h3></a></p>

        </div>
    </div>
</div>

