<div class="body-content">
    <div class="full-screen-ie">
        <div class="body-page">
            <h1 class="error-text nf-one">
                "Just as a candle cannot burn without fire, <br />
                browsers cannot serve without a server. <br />
                Ours is broken."
            </h1>
            <h1 class="error-text nf-second"> <i>-- Buddha</i> </h1>
            <a class="error-text" href="~/">Go Back Home</a>

        </div>
    </div>
</div>

