
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NotFound";
}

<div class="body-content">
    <div class="full-screen">

        <div id="err-line-1">
            <h1 class="error-text">Uh Oh...</h1>
        </div>

        <div id="err-line-2">
            <h2 class="error-text">Not sure how you ended up here, but click the 'Home' button to come back</h2>
        </div>

    </div>
</div>

