
@{
    ViewBag.Title = "NotFound";
}

<div class="body-content">
    <div class="full-screen">
        <div class="body-page">
            <h2 class="error-text nf-one">Oops!</h2>
            <h3 class="error-text nf-second"> That page can't be found </h3>
        </div>
    </div>
</div>