
@{
    ViewBag.Title = "NotFound";
}

<div class="body-content">
    <div class="full-screen">
        <div class="body-page">
            <h1 class="error-text nf-one">"Three things cannot long be hidden: <br />
                                            the sun, the moon, and bad code."</h1>
            <h1 class="error-text nf-second"> <i>-- Buddha</i> </h1>
            <a class="error-text" href="~/">Go Back Home</a>
            
        </div>
    </div>
</div>