<hr />
<footer>
    <div class="footer-body">
        <a href="#"></a><i class="fas fa-twitter"></i> </a>
        <i class="fas fa-facebook"></i>
        <i class="fas fa-github"></i>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </div>
</footer>
