<hr />
<footer>
    <div class="footer-body">
        <div class="soc-icons">
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-github-alt"></i></a>
            
        </div>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </div>
</footer>
