<footer>
    <div id="footer">
            <div class="footer-block">
                <div class="copyright pull-right">
                    &copy; @DateTime.Now.Year - Erin Highbaugh
                </div>
                <div class="soc-icons">
                    <a href="https://www.twitter.com/erinmhighbaugh"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/erinhighbaugh/"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a href="https://github.com/ehighbaugh"><i class="fab fa-github-alt fa-2x"></i></a>
                    <a href="https://plus.google.com"><i class="fab fa-google-plus-g fa-2x"></i></a>
                    <a href="https://dribbble.com/erinhighbaugh"><i class="fab fa-dribbble fa-2x"></i></a>
                    <a href="https://www.slack.com"><i class="fab fa-slack-hash fa-2x"></i></a>
                </div>
            </div>
       
    </div>
</footer>
