<hr />
<footer>
    <div class="footer-body">
        <div class="soc-icons">
            <span class="sm-icons">
                <a href="https://www.twitter.com/erinmhighbaugh"><i class="fab fa-twitter fa-2x" style="padding: .25em 0.25em;"></i></a>
                <a href="https://www.linkedin.com/in/erinhighbaugh/"><i class="fab fa-linkedin fa-2x" style="padding: .25em 0.25em;"></i></a>
                <a href="https://github.com/ehighbaugh"><i class="fab fa-github-alt fa-2x" style="padding: .25em 0.25em;"></i></a>
                <a href="https://plus.google.com"><i class="fab fa-google-plus-g fa-2x" style="padding: .25em 0.25em;"></i></a>
                <a href="https://dribbble.com/erinhighbaugh"><i class="fab fa-dribbble fa-2x" style="padding: .25em 0.25em;"></i></a>
                <a href="www.slack.com"><i class="fab fa-slack-hash fa-2x" style="padding: .25em 0.25em;"></i></a>
            </span>
        </div>
        <div class="copyright">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </div>
    </div>
</footer>
