<hr />
<footer>
    <div class="footer-body">
        <div class="soc-icons">
            <span>
                <a href="#"><i class="fab fa-twitter fa-4x" style="padding: .25em 0.25em;"></i></a>
                <a href="#"><i class="fab fa-linkedin fa-4x" style="padding: .25em 0.25em;"></i></a>
                <a href="#"><i class="fab fa-github-alt fa-4x" style="padding: .25em 0.25em;"></i></a>
            </span>
        </div>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </div>
</footer>
