<footer class="container-fluid">
    <div class="footer-body">
        <div class="d-flex justify-content-start no-wrap">
            <div class="soc-icons ml-auto p-2">
                <a href="https://www.twitter.com/erinmhighbaugh"><i class="fab fa-twitter fa-2x" style="padding: .25em 0.25em;"></i></a>
                <a href="https://www.linkedin.com/in/erinhighbaugh/"><i class="fab fa-linkedin fa-2x" style="padding: .25em 0.25em;"></i></a>
                <a href="https://github.com/ehighbaugh"><i class="fab fa-github-alt fa-2x" style="padding: .25em 0.25em;"></i></a>
                <a href="https://plus.google.com"><i class="fab fa-google-plus-g fa-2x" style="padding: .25em 0.25em;"></i></a>
                <a href="https://dribbble.com/erinhighbaugh"><i class="fab fa-dribbble fa-2x" style="padding: .25em 0.25em;"></i></a>
                <a href="www.slack.com"><i class="fab fa-slack-hash fa-2x" style="padding: .25em 0.25em;"></i></a>
            </div>
            <div class="copyright p-2">
                &copy; @DateTime.Now.Year - Erin Highbaugh
            </div>
        </div>
    </div>
</footer>
