<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Mobile navigation toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Erin Highbaugh", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("About", "About", "Home", new { @aria_label = "About Page Button" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", new { @aria_label = "Contact Page Button" })</li>
                <li>@Html.ActionLink("Resume", "Resume", "Home", new { @aria_label = "Resume Page Button" })</li>
            </ul>
        </div>
    </div>
</div>
