@import url("~/Content/css/custom/Footer.css")

.dummy {
           this: isadummyclass;
       }

/* fonts */

.caveat {
    font-family: 'Caveat', cursive;
}

.fs-40 {
    font-size: 40px;
}

.fs-60 {
    font-size: 60px;
}

.fs-80 {
    font-size: 80px;
}

/* body styles */

body {
    font-family: 'Montserrat', sans-serif;
}

.body-content {
    padding-top: 3em;
    font-size: 1.5em;
    line-height: 1.5;
}

.container-fluid {
    padding: 0;
}

.pt2 {
    padding-top: 2em;
}

.main-header-image {
    width: 100%;
    height: calc(100% - var(--footer-height));
    margin: 0 auto;
    background-image: url("/Img/tracks-web.jpg");
    background-position: center center;
    background-size: cover;
    position: absolute;
    background-color: #fff;
    opacity: 0.7;
    z-index: -99;
}

.header-text {
    width: auto;
    height: auto;
    color: white;
    opacity: 1;
    z-index: 99;
    font-family: 'Caveat', cursive;
    font-size: 60px;
    margin: 4em 0 0 3em;
}

.header-text-2 {
    color: white;
    opacity: 1;
    position: absolute;
    z-index: 99;
    font-family: 'Caveat', cursive;
    font-size: 60px;
    margin: 3em 0 0 3em;
}
  
/******************* ERROR PAGE STYLING **************/

.error-bkgd {
    width: auto;
    height: 100vh;
    background-image: url("/Img/buddha-web.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
