
/* GENERAL STYLING */

html, body {
    font-family: 'Montserrat', sans-serif;
}

Set padding to keep content from hitting the edges
.body-content {
    width: 80%;
    margin: 0 auto;
}

.container-fluid {
    padding: 0;
}

.lower-top {
    margin-top: 4em;
}

.main-header-image {
    width: 100%;
    height: calc(100% - 90px);
    margin: 0 auto;
    background-image: url("/Img/tracks.jpg");
    background-position: center center;
    background-size: cover;
    position: absolute;
    background-color: #fff;
    opacity: 0.7;
    z-index: -99;
}

.header-text {
    color: white;
    opacity: 1;
    z-index: 99;
    font-family: 'Caveat', cursive;
    font-size: 60px;
    margin: 3em auto auto 3em;
}

.header-text-2 {
    color: white;
    opacity: 1;
    position: absolute;
    z-index: 99;
    font-family: 'Caveat', cursive;
    font-size: 60px;
}
  


/* RESUME PAGE STYLING */


.secondary-header {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}
.secondary-header h2{
    margin: 1em auto 1em auto;
    justify-content: center;
}

.resume-embed {
    justify-content: center;
}

/******************* ABOUT PAGE STYLING ***************/

.about-page {
    font-size: 1.5em;
    line-height: 1.6;
}

.about-page p {
    padding-top: 1em;
    padding-bottom: 1em;
}

/******************* ERROR PAGE STYLING **************/

.full-screen {
    width: auto;
    height: 100vh;
    background-image: url("/Img/buddha.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
}

.error-text {
    color: black;
    padding-top: 2em;
    font-family:'Caveat', cursive;
}

.nf-one {
    font-size: 60px;
}

.nf-second {
    font-size: 40px;
}

.full-screen-ie {
    width: auto;
    height: 100vh;
    background-image: url("/Img/buddha.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*/******************** MEDIA QUERIES ***********************/

/* SMALL SCREENS */
/*/*@media (max-width: 600px) {
    .main-header-image {
        width: 100%;
        height: calc(100% - 90px);
        margin: 0 auto;
        background-image: url("/Img/tracks.jpg");
        background-position: center center;
        background-size: cover;
        position: absolute;
        background-color: #fff;
        opacity: 0.7;
        z-index: -99;
    }

    .header-text {
        font-size: 60px;
        color: white;
        margin: -8em auto auto 1.5em;
    }

    .header-text-2 {
        font-size: 50px;
        margin-top: -4.5em;
        margin-left: 3em;
    }

    .soc-icons {
        padding: 0;
    }

    .d-flex {
        width: 95%;
        margin: 0 auto;
    }

    .footer-body {
        width: 95%;
        margin: 0 auto;
        height: 90px;
    }

    .copyright {
        margin-top: 0.25em;
        padding: 0;
    }
}

/* SMALL SCREENS */

/*@media (min-width: 601px) {
    .header-text-2 {
        margin: -4em auto auto 2em;
    }

    .header-text {
        margin: -7em auto auto 2em;*/
    }
}
/* MEDIUM SCREENs */
/*@media (min-width: 900px) {
    .header-text {
        font-size: 70px;
    }

    .header-text-2 {
        font-size: 60px;
        margin-top: -3em;
        margin-left: 5em;
    }
}*/


/* LARGE SCREENS */
/*@media (min-width: 1200px) {

    .header-text {
        font-size: 80px;
    }

    .header-text-2 {
        font-size: 70px;
        margin-top: -4em;
        margin-left: 9em;
    }
}

@media (min-width: 1600px) {

    .header-text {
        font-size: 100px;
        margin: -5.5em auto auto 3em;
    }

    .header-text-2 {
        font-size: 90px;
        color: white;
        opacity: 1;
        margin-top: -4em;
        margin-left: 12em;
        position: absolute;
        z-index: 99;
        font-family: 'Caveat', cursive;
    }

    .footer-body {
        height: 90px;
        margin: 5em auto auto auto;*/
    }
}