@{
    ViewBag.Title = "About Me";
}

<div class="body-page about-page">
    <h2>@ViewBag.Title.</h2>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 ">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                <p>Ut sem nulla pharetra diam sit amet nisl. Leo integer malesuada nunc vel. Placerat vestibulum lectus mauris ultrices eros in cursus. Feugiat nisl pretium fusce id. Id diam vel quam elementum. Neque gravida in fermentum et sollicitudin. Eget velit aliquet sagittis id consectetur. Nisi vitae suscipit tellus mauris a diam. Mi bibendum neque egestas congue quisque egestas diam in arcu. Gravida cum sociis natoque penatibus et magnis dis. Condimentum vitae sapien pellentesque habitant morbi tristique. Dui id ornare arcu odio ut sem nulla pharetra diam.</p>
            </div>

            <div class="col-md-3 col-lg-1"> </div>

            <div class="col-md-3">
                <img class="img-responsive" src="~/Img/more-this-way.jpg" alt="picture of something" id="about-image">
            </div>
        </div>
    </div>
    
</div>
