@{
    ViewBag.Title = "Contact Me";
}

<div class="body-content">
    <div class="body-page">
        <div class="lower-top about-page">
            <h2>How to Contact Me:</h2>
            <br />
            <address>
                <strong>Telephone:</strong>   <a href="tel:5027597903">(502) 759-7903</a><br />
                <strong>Email:</strong> <a href="mailto:erinhighbaugh@gmail.com">erinhighbaugh@gmail.com</a>
            </address>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>

                </p>
            </div>
        </div>
    </div>
    

</div>