@{
    ViewBag.Title = "Erin Highbaugh";
}

<div class="main-header-image">
    <span class="header-text">Hi, I'm Erin ... </span>
    <span class="header-text-2">... and I love code :)</span>
</div>





