@{
    ViewBag.Title = "Erin Highbaugh";
}

<div class="main-header">
    <div class="main-header-image"></div>
 </div>


<div class="row below-header">
    <div id="animate-text">
       <h1 class="header-text ml11">
           <span class="text-wrapper">
               <span class="line line1"></span>
               <span class="letters">Hi, I'm Erin ... </span>
           </span>
       </h1>
    </div>
</div>



