@{
    ViewBag.Title = "Erin Highbaugh";
}

<div class="main-header">
    <div class="main-header-image"></div>
 </div>


<div class="row below-header">
    <div id="animate-text">
       <h1 class="header-text">Hi, I'm Erin ... </h1>
       <h1 class="header-text-2">... and I love code :)</h1>
    </div>
</div>



