
@{
    ViewBag.Title = "Erin Highbaugh - Resume";
}

<div class="body-content">
    <div class="container">
        <h2>Resume</h2>
        <div class="resume-embed">
            <p>View my resume below, or <a href="~/Documents/Resume-HighbaughErin.pdf" ga('send', { hitType:'click', eventCategory:'Resume', eventAction:'download', eventLabel:'ResumeDownload' });>download a copy here</a>.</p>
            <embed class="resume" src="~/Documents/Resume-HighbaughErin.pdf" type="application/pdf" />
        </div>
    </div>
</div>

@Scripts.Render("~/Bundles/resHelper")


