
@{
    ViewBag.Title = "Erin Highbaugh - Resume";
}
<div class="body-page">
    <div  class="secondary-header">
        <h2>Resume</h2>
        <div class="resume-embed">
            <p>View my resume below, or <a href="~/Documents/Resume-HighbaughErin.pdf" onclick="trackOutboundLink('http://erinhighbaugh.azurewebsites.net/Documents/Resume-HighbaughErin.pdf'); return false;" >download a copy here</a>.</p>
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vSBw87yNaJi1-3uhOFJtAk6vyzfY1n4DsQLt2dXImzTQ2rhEn64d-uN36AQ3MERXnsBuGbwinX8TI9J/pub?embedded=true" width="700" height="500" frameborder="1"></iframe> 
        </div>
    </div>
</div>

