
@{
    ViewBag.Title = "Erin Highbaugh - Resume";
}
<script>
    gtag('config', 'GA_TRACKING_ID');
</script>
<div class="body-page">
    <div  class="secondary-header">
        <h2>Resume</h2>
        <div class="resume-embed">
            <p>View my resume below, or <a href="~/Documents/Resume-HighbaughErin.pdf" onClick="_gaq.push(['_trackEvent','downloads','click','resume','0']);">download a copy here</a>.</p>
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vSBw87yNaJi1-3uhOFJtAk6vyzfY1n4DsQLt2dXImzTQ2rhEn64d-uN36AQ3MERXnsBuGbwinX8TI9J/pub?embedded=true" width="700" height="500" frameborder="1"></iframe> 
        </div>
    </div>
</div>

